.login-containner{
    margin-top: 30px;
}

.div-login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.login-btn {
    width: 150px;
}

.login-title{
    text-align: center;
    font-size: 18px;
}

.station-div{
    padding:10px;
    cursor: pointer;
}

.station-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction-column{
    flex-direction: column;
}

.home-container{
    margin-bottom: 10px;
}

.home-sensor{
    cursor: pointer;
}

.sensor-grafic{
    margin-bottom: 10px;
}

.sensor-form{
    background-color: aqua;
}